packages:
  yum:
    git: []
    postgresql-devel: []

container_commands:
  08_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  09_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: 
    "PROD": "TRUE"
    "ALLOWED_HOSTS" : "*"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: 
    NumProcesses: 1
    NumThreads: 15
